<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
			 -->
				<div class="form-group">
					<label>Curve Id</label>
					<input type="number" th:field="*{curveId}" class="form-control" required>
				</div>
				<div class="form-group">
					<label>Term</label>
					<input type="number" th:field="*{term}" class="form-control" step="0.01" required>
				</div>
				<div class="form-group">
					<label>Value</label>
					<input type="number" th:field="*{value}" class="form-control" step="0.01" required>
				</div>
				<button type="submit" class="btn btn-primary">Update</button>
				<a href="/curvePoint/list" class="btn btn-danger">Cancel</a>
			</form>
	</div>

</div>
</body>
</html>