<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of RuleName, there are 2 buttons: Save data and Cancel to the list RuleName
			 -->
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" id="name" th:field="*{name}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<input type="text" id="description" th:field="*{description}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="json">Json:</label>
				<input type="text" id="json" th:field="*{json}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="template">Template:</label>
				<input type="text" id="template" th:field="*{template}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="sqlStr">Sql:</label>
				<input type="text" id="sqlStr" th:field="*{sqlStr}" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="sqlPart">SqlPart:</label>
				<input type="text" id="sqlPart" th:field="*{sqlPart}" class="form-control"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
				<a href="/ruleName/list" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>

</div>
</body>
</html>